<%= form_for(@testpat) do |f| %>
  <% if @testpat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testpat.errors.count, "error") %> prohibited this testpat from being saved:</h2>

      <ul>
      <% @testpat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :identifier %><br>
    <%= f.text_field :identifier %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
